.document-main {
    display: grid;
    grid-template-columns: 1fr 9fr;
    border-radius: 10px;
    margin: 10px;
}

.document-main:hover {
    background: rgba(255, 255, 255, 0.27);
    cursor: pointer;
}

.document-logo {
    justify-self: center;
    padding: 15px 0 15px 15px;
    width: 10px;
}

.document-text {
    justify-self: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    padding: 15px 0 15px 10px;
    margin-top: -4px;
}

.document-title {
    font-size: 16px;
    color: #FFFFFF;
}

.document-sub-title {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.27);
}