.side-bar-main {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    background: #070D59;
    padding-left: 8px;
    width: 200px;
}

.side-bar-title {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #FFFFFF;
}

.side-bar-file {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.27);
}

.side-bar-title-logo {
    width: 30px;
    height: 20px;
}

.upload-file-input {
    display: none;
}

.upload-button {
    display: grid;
    padding: 10px;
    grid-template-columns: 3fr 7fr;
    background: #F7B633;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 150px;
    position: absolute;
    bottom: 25px;
    margin-left: 12px;
}

.upload-button:hover {
    cursor: pointer;
}

.upload-button-logo {
    justify-self: center;
    width: 20px;
}

.upload-button-text {
    justify-self: left;
    color: #FFFFFF;
}
